ul#metamorph_sections,
ul.metamorph-section-inner{
	margin:0 !important;
	min-height: 30px;
}
li.metamorph-section{
	border: 1px solid #DDD;
	margin-bottom: 20px;
}
.metamorph-section-header{
	background: #DDD;
	line-height: 30px;
}
.metamorph-region{
	margin: 5px 0;
}
.region-inner{
	background-color: #FFF;
	border: 1px solid #EEE;
	line-height: 30px;
}
.region-settings,
.section-settings{
	line-height: 30px;
	margin-right:5px;
	cursor: pointer;
}
.section-sortable,
.region-sortable{
	margin: 0 5px;
	cursor: move;
}
ul#metamorph_sections li{
	list-style: none;
}
ul#metamorph_layouts{
	margin: 10px 0;
}
li.metamorph_layout{
	background: none repeat scroll 0 0 #EEEEEE;
	border-radius: 5px;
	display: inline-block;
	margin-right: 10px;
	padding: 2px 10px;
	opacity: 0.8;
	margin-bottom:10px;
}
li.metamorph_layout span.fa{
	display: none;
}
li.metamorph_layout.active span.fa{
	display: inline;
}
li.metamorph_layout a{
	border-radius: 5px;
	padding: 2px 10px;
}
li.metamorph_layout.active{
	background: none repeat scroll 0 0 #DDDDDD;
	box-shadow: 3px 3px 3px -1px;
	opacity: 1;
}

#edit-preset-settings .form-item{
	max-width: 250px;
}
#edit-preset-settings #placeholder{
	position: absolute;
	top: 0;
	left: 50%;
}
#edit-preset-settings .form-item.focus{
	background: #EEEEEE;
}
